#plot_main {

    position: fixed; 
    top: 50px; 
    right: 250px;
    margin: auto 7px;
    width: 929px;
    height: 630px;
}

#form {
    margin-right: 176px;
}

img {
    width: 929px;
    height: 630px;
}