<mat-toolbar>
  <span>CropPlanner</span>
</mat-toolbar>

<div style="text-align:left">


  <div>

    <div id="form">

      <form>
        <fieldset style="width:200px; ">

          <legend>Select an action</legend>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Catalog Operations
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div>
              <mat-label>Select an operation:</mat-label>
              <mat-radio-group matInput [(ngModel)]="appSection" name="catalogOperationsSection">
                <mat-radio-button value="newCrop" class="padding">Add a new crop</mat-radio-button>
                <mat-radio-button value="searchForCrop" class="padding">Search for a crop</mat-radio-button>
                <mat-radio-button value="displayAllCrops" class="padding">Display all crops</mat-radio-button>
                <mat-radio-button value="modifyCrop" class="padding">Modify a crop</mat-radio-button>
                <mat-radio-button value="addSeedsToCrop" class="padding">Add seeds to a crop</mat-radio-button>
                <mat-radio-button value="deleteCrop" class="padding">Delete a crop</mat-radio-button>
              </mat-radio-group>

            </div>



          </mat-expansion-panel>


          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Planner Operations
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div>
              <mat-label>Select an operation:</mat-label>
              <mat-radio-group matInput [(ngModel)]="appSection" name="plannerOperationsSection">
                <mat-radio-button value="newPlannedCrop" class="padding">Plan a crop</mat-radio-button>
                <mat-radio-button value="displayAllPlannedCrops" class="padding">Display all planned crops
                </mat-radio-button>
                <mat-radio-button value="searchPlannedCrops" class="padding">Search planned crops</mat-radio-button>
                <mat-radio-button value="calculateArea" class="padding">Calculate area</mat-radio-button>
                <mat-radio-button value="updatePlannedCrop" class="padding">Update Planned Crop</mat-radio-button>
                <mat-radio-button value="deletePlannedCrop" class="padding">Delete planned crop</mat-radio-button>
              </mat-radio-group>

            </div>


          </mat-expansion-panel>



        </fieldset>


      </form>
    </div>
  </div>
</div>


<div *ngIf="appSection === 'newCrop' ">
  <app-new-crop></app-new-crop>
</div>

<div *ngIf="appSection === 'searchForCrop' ">
  <app-search-for-crop></app-search-for-crop>
</div>

<div *ngIf="appSection === 'displayAllCrops' ">
  <app-display-all-crops></app-display-all-crops>
</div>

<div *ngIf="appSection === 'modifyCrop' ">
  <app-modify-crop></app-modify-crop>
</div>

<div *ngIf="appSection === 'addSeedsToCrop' ">
  <app-add-seeds></app-add-seeds>
</div>

<div *ngIf="appSection === 'deleteCrop' ">
  <app-delete-crop></app-delete-crop>
</div>

<div *ngIf="appSection === 'newPlannedCrop' ">
  <app-new-planner></app-new-planner>
</div>

<div *ngIf="appSection === 'displayAllPlannedCrops' ">
  <app-display-all-planned-crops></app-display-all-planned-crops>
</div>

<div *ngIf="appSection === 'searchPlannedCrops' ">
  <app-search-planned-crops></app-search-planned-crops>
</div>

<div *ngIf="appSection === 'calculateArea' ">
  <app-calculate-area></app-calculate-area>
</div>

<div *ngIf="appSection === 'updatePlannedCrop' ">
  <app-update-planned-crop></app-update-planned-crop>
</div>

<div *ngIf="appSection === 'deletePlannedCrop' ">
  <app-delete-planned-crop></app-delete-planned-crop>
</div>