<form [formGroup]="modifyCropGroup">

  <div>

    <h2>Modify a crop:</h2>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="_id" placeholder="Crop ID" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="name" placeholder="Name" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="family" placeholder="Family" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="daysToMaturity" placeholder="Days to maturity" />
      </mat-form-field>
    </div>

    <div>
      <mat-label>Will the crop be directly seeded?</mat-label>
        <mat-radio-group matInput formControlName="isDirectSeeded">
          <mat-radio-button value="true" class="padding">Yes</mat-radio-button>
          <mat-radio-button value="false" class="padding">No</mat-radio-button>
        </mat-radio-group>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="weeksGrownPriorToTransplant" placeholder="Weeks prior to transplant" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="seedGerminationTemperature" placeholder="Seed germ temp" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="seedInventory" placeholder="Seeds in reserve" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="plantSpacing" placeholder="Plant spacing" />
      </mat-form-field>
    </div>

    <div class="buttonclass">
      <button mat-raised-button color="primary" id="modifyCrop" type="submit" (click)="modifyCrop()">Update Crop</button>
    </div>

  </div>

</form>