<h2>Delete a crop:</h2>

<form [formGroup]="deleteCropGroup">

  <input matInput formControlName="cropNumber" placeholder="Crop number" />

  <div class="buttonclass">
    <button mat-raised-button color="primary" id="deleteCrop" type="submit" (click)="deleteCropByNumber()">Delete crop</button>
  </div>
</form>



<label *ngIf="error"> {{error}} </label>
<label *ngIf="numStatus"> Operation Status: {{numStatus}} (1=successful, nothing=failed) </label>