<div>
  <h2>Search for Crops:</h2>
  Searches Crop Catalog Database with this exact string value and will show any matches that contains part of this
  string (Capitals matter).

  <form [formGroup]="searchCropGroup">

    <div>
      <mat-label>Search crops by:</mat-label>
      <mat-radio-group matInput formControlName="searchFilter">
        <mat-radio-button checked=true value="cropFamily" class="padding">Crop family</mat-radio-button>
        <mat-radio-button value="cropName" class="padding">Crop name</mat-radio-button>
      </mat-radio-group>
    </div>

    <input matInput formControlName="searchTerm" placeholder="Search term" />

    <div class="buttonclass">
      <button mat-raised-button color="primary" id="searchForCrops" type="submit" (click)="searchForCrops()">Search</button>
    </div>

    <div>
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
          <td mat-cell *matCellDef="let crop"> {{crop._id}} </td>
        </ng-container>
    
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let crop"> {{crop.name}} </td>
        </ng-container>
    
        <ng-container matColumnDef="family">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Family </th>
          <td mat-cell *matCellDef="let crop"> {{crop.family}} </td>
        </ng-container>
    
        <ng-container matColumnDef="daysToMaturity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> DTM </th>
          <td mat-cell *matCellDef="let crop"> {{crop.daysToMaturity}} </td>
        </ng-container>
    
        <ng-container matColumnDef="isDirectSeeded">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> isDirectSeeded </th>
          <td mat-cell *matCellDef="let crop"> {{crop.isDirectSeeded}} </td>
        </ng-container>
    
        <ng-container matColumnDef="weeksGrownPriorToTransplant">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Weeks before transplant </th>
          <td mat-cell *matCellDef="let crop"> {{crop.weeksGrownPriorToTransplant}} </td>
        </ng-container>
    
        <ng-container matColumnDef="seedGerminationTemperature">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Germ Temp (F) </th>
          <td mat-cell *matCellDef="let crop"> {{crop.seedGerminationTemperature}} </td>
        </ng-container>
    
        <ng-container matColumnDef="seedInventory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Seeds in storage </th>
          <td mat-cell *matCellDef="let crop"> {{crop.seedInventory}} </td>
        </ng-container>
    
        <ng-container matColumnDef="plantSpacing">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Plant spacing </th>
          <td mat-cell *matCellDef="let crop"> {{crop.plantSpacing}} </td>
        </ng-container>
    
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
    
      </table>
    </div>

  </form>