<h2>Get all crops in catalog:</h2>

<div>



  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let crop"> {{crop._id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let crop"> {{crop.name}} </td>
    </ng-container>

    <ng-container matColumnDef="family">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Family </th>
      <td mat-cell *matCellDef="let crop"> {{crop.family}} </td>
    </ng-container>

    <ng-container matColumnDef="daysToMaturity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DTM </th>
      <td mat-cell *matCellDef="let crop"> {{crop.daysToMaturity}} </td>
    </ng-container>

    <ng-container matColumnDef="isDirectSeeded">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> isDirectSeeded </th>
      <td mat-cell *matCellDef="let crop"> {{crop.isDirectSeeded}} </td>
    </ng-container>

    <ng-container matColumnDef="weeksGrownPriorToTransplant">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weeks before transplant </th>
      <td mat-cell *matCellDef="let crop"> {{crop.weeksGrownPriorToTransplant}} </td>
    </ng-container>

    <ng-container matColumnDef="seedGerminationTemperature">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Germ Temp (F) </th>
      <td mat-cell *matCellDef="let crop"> {{crop.seedGerminationTemperature}} </td>
    </ng-container>

    <ng-container matColumnDef="seedInventory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Seeds in storage </th>
      <td mat-cell *matCellDef="let crop"> {{crop.seedInventory}} </td>
    </ng-container>

    <ng-container matColumnDef="plantSpacing">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Plant spacing </th>
      <td mat-cell *matCellDef="let crop"> {{crop.plantSpacing}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

</div>