<form [formGroup]="newPlannerGroup">

    <div>

        <h2>New Planner:</h2>

        <div>
            <mat-form-field class="padding">
                <input matInput formControlName="cropNumber" placeholder="Crop number" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="padding">
                <input matInput formControlName="numberOfCropsPlanted" placeholder="Number of crops planted" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="padding">
                <input matInput formControlName="amountSeededPerCrop" placeholder="Amount seeded per crop" />
            </mat-form-field>
        </div>

        <div>
            <mat-label>Is the crop grown hydroponically?</mat-label>
            <mat-radio-group matInput formControlName="isHydroponic">
                <mat-radio-button value="true" class="padding">Yes</mat-radio-button>
                <mat-radio-button value="false" class="padding">No</mat-radio-button>
            </mat-radio-group>
        </div>

        <div>
            <mat-label>Is the estimated harvest date being entered?</mat-label>
            <mat-radio-group matInput formControlName="isEnteredDateHarvestDate">
                <mat-radio-button value="true" class="padding">Yes</mat-radio-button>
                <mat-radio-button value="false" class="padding">No</mat-radio-button>
            </mat-radio-group>
        </div>

        <div>
            <mat-form-field class="padding">
                <input matInput formControlName="plantingArea" placeholder="planting Area" />
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <mat-label>Pick a date</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="enteredDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>

        </div>

        <div class="buttonclass">
            <button mat-raised-button color="primary" id="createPlanner" type="submit" (click)="createPlanner()">Create
                Planner</button>
        </div>

        <br>
        <label *ngIf="plannernumreturned">
            Planner created - planner number {{plannernumreturned}}
        </label>


    </div>

</form>