<h2>Add seeds:</h2>

<form [formGroup]="seedCropGroup">

  <input matInput formControlName="_id" placeholder="Crop number" />
  <input matInput formControlName="seedAmount" placeholder="Amount of seeds" />

  <div class="buttonclass">
    <button mat-raised-button color="primary" id="updateSeeds" type="submit" (click)="updateSeeds()">Update seeds</button>
  </div>
</form>