<h2>Delete a planned crop:</h2>

<form [formGroup]="deletePlannerGroup">

  <input matInput formControlName="plannerNumber" placeholder="Planner number" />

  <div class="buttonclass">
    <button mat-raised-button color="primary" id="deletePlanner" type="submit" (click)="deletePlannerByNumber()">Delete planner</button>
  </div>
</form>



<label *ngIf="error"> {{error}} </label>
<label *ngIf="numStatus"> Operation Status: {{numStatus}} (1=successful, nothing=failed) </label>