<h2>Get all planned Crops:</h2>

<div>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
      <td mat-cell *matCellDef="let planner"> {{planner._id}} </td>
    </ng-container>

    <ng-container matColumnDef="crop-name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Crop name </th>
      <td mat-cell *matCellDef="let planner"> {{planner.crop.name}} </td>
    </ng-container>

    <ng-container matColumnDef="crop-family">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Crop family </th>
      <td mat-cell *matCellDef="let planner"> {{planner.crop.family}} </td>
    </ng-container>

    <ng-container matColumnDef="numberOfCropsPlanted">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Crops planted </th>
      <td mat-cell *matCellDef="let planner"> {{planner.numberOfCropsPlanted}} </td>
    </ng-container>

    <ng-container matColumnDef="amountSeededPerCrop">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount seeded per Crop </th>
      <td mat-cell *matCellDef="let planner"> {{planner.amountSeededPerCrop}} </td>
    </ng-container>

    <ng-container matColumnDef="isHydroponic">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Grown Hydroponically </th>
      <td mat-cell *matCellDef="let planner"> {{planner.isHydroponic}} </td>
    </ng-container>

    <ng-container matColumnDef="plantingArea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Planting area </th>
      <td mat-cell *matCellDef="let planner"> {{planner.plantingArea}} </td>
    </ng-container>

    <ng-container matColumnDef="seedDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Crop seeded </th>
      <td mat-cell *matCellDef="let planner"> {{planner.seedDate}} </td>
    </ng-container>

    <ng-container matColumnDef="plantDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Crop transplanted </th>
      <td mat-cell *matCellDef="let planner"> {{planner.plantDate}} </td>
    </ng-container>

    <ng-container matColumnDef="harvestDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estimated harvest date </th>
        <td mat-cell *matCellDef="let planner"> {{planner.harvestDate}} </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

</div>