<h2>Calculate by area:</h2>
<ul>

    <li>
        Use this to calculate the row spacing for plants based on all plants in planner marked with this exact area name
        (has edge spacing too)
    </li>

    <li>
        Output value should be less than the actual value of the row in the designated plot, check the garden plot to
        make
        sure all plants fit in this area
    </li>

</ul>

<form [formGroup]="calculateAreaGroup">

    <input matInput formControlName="searchArea" placeholder="Search area" />

    <div class="buttonclass">
        <button mat-raised-button color="primary" id="calculateArea" type="submit" (click)="calculateArea()">Calculate
            area</button>
    </div>

</form>

<br>
<label *ngIf="numStatus">
    Calculated Area: {{numStatus}} (inches) OR {{numStatus / 12.0}} (feet)
</label>