<form [formGroup]="newCropGroup">

  <div>

    <h2>New crop:</h2>

    <ul>
      <li>
        Make sure to check seed packet or seed website to see if days to maturity is based off direct-seeding or
        transplanting, as this will effect harvest date.
      </li>

    </ul>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="name" placeholder="Name" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="family" placeholder="Family" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="daysToMaturity" placeholder="Days to maturity" />
      </mat-form-field>
    </div>

    <div>
      <mat-label>Will the crop be directly seeded?</mat-label>
        <mat-radio-group matInput formControlName="isDirectSeeded">
          <mat-radio-button value="true" class="padding">Yes</mat-radio-button>
          <mat-radio-button value="false" class="padding">No</mat-radio-button>
        </mat-radio-group>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="weeksGrownPriorToTransplant" placeholder="Weeks prior to transplant" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="seedGerminationTemperature" placeholder="Seed germ temp" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="seedInventory" placeholder="Seeds in reserve" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="padding">
        <input matInput formControlName="plantSpacing" placeholder="Plant spacing" />
      </mat-form-field>
    </div>

    <div class="buttonclass">
      <button mat-raised-button color="primary" id="createCrop" type="submit" (click)="createCrop()">Create Crop</button>
    </div>

    <br>
    <label *ngIf="cropnumreturned">
      Crop created - crop number {{cropnumreturned}}
    </label>


  </div>

</form>